.sparks {
  opacity: 0;
}

/* Переход для контура на строке 47 */

.like-icon .core {
  fill: transparent;
  transition: fill 0.03s 0.05s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--heart-filling);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-filling);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-filling);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-filling);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-filling);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: liked-heart 0.3s 0.1s ease-in;
  transform-origin: center;
  animation-direction: alternate;
}

.like-icon.is-liked .sparks {
  animation: liked-sparks 0.3s 0.3s ease-in;
  transform-origin: center;
  animation-direction: alternate;
}

@keyframes liked-heart {
  to {
    transform: scale(1.5);
  }
}

@keyframes liked-sparks {
  to {
    opacity: 1;
  }
}
