:root.theme-dark {
  --heading-weight: 785;
  --main-text-weight: 465;
  --background-color: #000;
  --accent-color: #00cc14;
  --text-shadow-color: #000;
  --button-color: #00cc14;
  --background-image: repeating-linear-gradient(
      90deg,
      #000,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(#000, #000 2px, transparent 2px, transparent 4px),
    linear-gradient(#007f0c, #004306);
}

:root.theme-light {
  --heading-weight: 700;
  --main-text-weight: 400;
  --background-color: #fff;
  --accent-color: #000;
  --text-shadow-color: #fff;
  --button-color: #fff;
  --background-image: repeating-linear-gradient(
      90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
}

@media (prefers-color-scheme: light) {
  :root {
    --heading-weight: 700;
    --main-text-weight: 400;
    --background-color: #fff;
    --accent-color: #000;
    --text-shadow-color: #fff;
    --button-color: #fff;
    --background-image: repeating-linear-gradient(
        90deg,
        #d3d3d3,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        #d3d3d3,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --heading-weight: 785;
    --main-text-weight: 465;
    --background-color: #000;
    --accent-color: #00cc14;
    --text-shadow-color: #000;
    --button-color: #00cc14;
    --background-image: repeating-linear-gradient(
        90deg,
        #000,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        #000,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(#007f0c, #004306);
  }
}
